
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed; top: 0px;   
  padding: 10px;
  background-color: beige;
}
img{
  width: 40px;
  height: 40px;
}
.navbar__account button{
  border: 0px;
  padding: 5px;
  font-size: 18px;
  background-color: inherit;
  font-weight: 700;
  margin-right: 20px;
  cursor: pointer;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 
button:hover{
  border-bottom: 3px solid blue;
}
